<main>
  user_show
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        Imageが入る
        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>neme</th>
              <th><%= current_user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= current_user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <%= link_to "/users/#{current_user.id}/edit", class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
          <h2 class="mt-3">New book</h2>
          <%= form_with model: @book, url: books_path do |f| %>
            <div class="form-group">
              <label for="book_title">Title</label>
              <%= f.text_field :title, class: "form-control book_title" %>
            </div>
            <div class="form-group">
              <label for="book_opinion">Opinion</label>
              <%= f.text_area :body, class: "form-control book_body" %>
            </div>
            <div class="form-group">
              <%= f.submit 'Create Book', class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      <!--右側-->
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <!-- ユーザーの投稿一覧 -->

        <% @books.each do |book| %>
          <div>
            <p>ショップ名：<%= book.title %></p>
            <p>説明：<%= book.body %></p>
            <p>ユーザーネーム：<%= book.user.name %></p>
          </div>
        <% end %>
        <table class="table table-hover table-inverse">

        </table>
      </div>
    </div>
  </div>
</main>
